#sixteen-grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "round-1 round-2 round-3 round-4 champion";
    align-items: center;
}

#round-one-grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    flex-direction: column;
}