#user-tournament-grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "header header"
            "ongoing completed"
            "ongoing completed"
            "ongoing completed";
    align-items: center;
}

#ongoing-tournaments-grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    flex-direction: column;
    grid-template-areas:
            "header header"
            "tournamentNumber result";
}

#completed-tournaments-grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    flex-direction: column;
    grid-template-areas:
            "header header"
            "tournamentNumber result";
}